# Set default behavior to automatically normalize line endings.
* text=auto

# Force LF line endings for specific types of files
*.js text eol=lf
*.mjs text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Ensure binary files are not converted
*.png binary
*.jpg binary
*.gif binary
